/* GENERAL */
* {
  font-family: "JetBrains Mono";
  font-size: 11px;
  font-weight: 700;
  padding: 0px;
  border-radius: 16px;
  border: none;
  color: #ffffff;
  background: transparent;
  box-shadow: none;
}

/* WINDOW */
window#waybar>box {
  background: rgba(0, 0, 0, .4);
  padding: 0px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* MODULES */
.modules-left,
.modules-center,
.modules-right {
  padding: 4px 8px;
}

.modules-left>widget>*,
.modules-center>widget>*,
.modules-right>widget>* {
  padding: 0px 10px;
}

.modules-left>widget>*,
.modules-center>widget>*,
.modules-right>widget>* {
  background: linear-gradient(5deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, .05), rgba(255, 255, 255, .15));
  box-shadow: 0 0 8px -8px rgba(0, 0, 0, 1);
  border-radius: 16px;
}

/* WORKSPACES */
#workspaces {
  padding: 0px;
}

#workspaces button {
  background: transparent;
  padding: 0px 4px;
  margin: 0px;
  border-radius: 16px;
  box-shadow: 0px 0px 2px -2px rgba(0, 0, 0, 0.1);
  transition: .2s;
  transition-property: background;
}

#workspaces button.active {
  background: linear-gradient(5deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, .4), rgba(255, 255, 255, .5));
  transition: 500ms;
  transition-property: background;
}

#workspaces button:hover {
  background: linear-gradient(5deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, .2), rgba(255, 255, 255, .3));
  transition: 500ms;
  transition-property: background;
}

#workspaces button.active:hover {
  background: linear-gradient(5deg, rgba(255, 255, 255, .4), rgba(255, 255, 255, .5), rgba(255, 255, 255, .4));
  transition: 500ms;
  transition-property: background;
}

/* STYLES */
#window,
#tools,
#indicators {
  background: transparent;
  box-shadow: none;
  border-radius: 0px;
  border: none;
  padding: 0px 3px;
}

#indicators>*>*,
#window>*>*,
#system>*>*,
#images>*>*,
#gpu>*>*,
#audio>*>*,
#tools>*>*,
#tray>*>* {
  padding: 0px 4px;
}

#images {
  background: linear-gradient(5deg, rgba(1, 200, 219, .3), rgba(1, 200, 219, .05), rgba(1, 200, 219, .3));
}

#system {
  background: linear-gradient(5deg, rgba(0, 255, 0, .3), rgba(0, 255, 0, .05), rgba(0, 255, 0, .3));
}

#gpu {
  background: linear-gradient(5deg, rgba(0, 0, 255, .3), rgba(0, 0, 255, .05), rgba(0, 0, 255, .3));
}

#clock {
  background: linear-gradient(5deg, rgba(255, 0, 0, .3), rgba(255, 0, 0, .05), rgba(255, 0, 0, .3));
}

tooltip>*>*,
#tray window decoration {
  padding: 4px 8px;
  background: rgba(0, 0, 0, .8);
  color: #dddddd;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 0 8px -8px black;
  border-radius: 16px;
  border: 2px solid rgba(89, 89, 89, 0.8);
}
