@import "./mocha.css";

* {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 2px;
  margin: 2px;
  border-radius: 8px;
  background: transparent;
  box-shadow: none;
  color: @text;
}

window {
  border: 2px solid @mauve;
  background-color: @base;
}

#outer-box {
  padding: 16px;
  background-color: @base;
}

#scroll {
  padding: 0 32px 0;
  margin: 0px;
}

#scroll>* {
  padding: 0px;
  margin: 0px;
}

#scroll>*>* {
  padding: 0px;
  margin: 0px;
}

#inner-box {
  padding: 0 16px 0;
  padding: 0px;
  margin: 0px;
}

#input {
  background-color: @surface0;
  border: 2px solid @mauve;
  padding: 18px 8px;
  margin: 8px 0px;
  font-size: 24px;
  color: @text;
}

#entry {
  border: 2px solid transparent;
  background: transparent;
  padding: 4px 16px;
  margin-top: 4px;
  font-size: 20px;
  color: @subtext0;
}

#entry:selected {
  border: 2px solid @mauve;
  background-color: @surface1;
  color: @lavender;
}

#img {
  width: 48px;
  height: 48px;
}